@import "bootstrap";

$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background:#FAEBD7;
 }

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
  
/* table */

th{
   background-color:#A0522D;
   border:1px solid #827839;
   color:white;
}

td{
   border:1px solid #827839;
}

/* homepage*/
h5,h4,h3,h2,h1
{
font-family: Serif;
font-weight: bold;
line-height: 30px;
color: info;
}
 
/* h1 */
h1
{
color: #228B22;
}

/* h4 */
h4
{
color: #B22222;
}

/* marquee */
#scroller {
    background-color: #00b6ff;
    color: #ffffff;
    font-size: 14px;
    height: 28px !important;
    line-height:28px;
    overflow: hidden;
    position: relative;
    width: 1005;
    padding-top: 1px;
    position: relative;
}

.scrollingtext {
    color: #ffffff;
    white-space:nowrap;
    position:absolute;
    font-size: 14px;
    font-style: oblique;
}
.scrollingtext a:link, .scrollingtext a:visited {
    color: #ffffff;
    font-size: 14px;
}
.scrollingtext a:visited {
    text-decoration:none;
}

.review {
    padding-right: 50px;
}

#static-text {
    position: absolute;
    padding: 0 10px;
    background-color: #00b6ff;
    z-index: 99999;
    font-weight: bold;

}




